<head><script src="script.js"></script></head>

<body>
        
        <div id="content-area">
                
            <div id="output-area">
                <div id="lesson-area">
                    <img id="lesson-area-image" alt="lesson-area-background" src="https://i.imgur.com/CSqs9Au.png">
                    <div id="lesson-area-text">
                        <p class="lesson-heading"></p>
                        <p class="lesson-text"></p>
                    </div>
                </div>
                
                <div id="character">
                    <img id="warrior-image" alt="warrior" src="https://i.imgur.com/2DKbYy4.png">
                </div>
                
                <div class="hidden" id="speech-bubble-area">
                    <p id="speech-bubble-text">Hello World!</p>
                    <img id="speech-bubble" alt="speech-bubble" src="https://i.imgur.com/roXrXKV.png">
                </div>


                <div class="hidden" id="merchant-area">
                    <img id="merchant-image" src="https://i.imgur.com/acuTlTU.png">
                    <img id="apple" src="https://i.imgur.com/nMrgdYh.png">
                    <img id="mead" src="https://i.imgur.com/gp8JPuR.png">
                </div>


                <div class="hidden" id="uncompleted-bridge-area">
                    <div class="block-2">
                            <img class="block" src="https://i.imgur.com/92RIfRg.png">
                            <img class="block" src="https://i.imgur.com/92RIfRg.png">
                    </div>
                    <div class="block-1">
                            <img class="block" src="https://i.imgur.com/92RIfRg.png">
                    </div>
                    <div class="block-3">
                            <img class="block" src="https://i.imgur.com/92RIfRg.png">
                            <img class="block" src="https://i.imgur.com/92RIfRg.png">
                            <img class="block" src="https://i.imgur.com/92RIfRg.png">
                    </div>
                </div>
                <div class="hidden" id="completed-bridge-area">
                    <div class="block-1">
                        <img class="block" src="https://i.imgur.com/92RIfRg.png">
                    </div>    
                    <div class="block-2">
                        <img class="block" src="https://i.imgur.com/92RIfRg.png">
                        <img class="block" src="https://i.imgur.com/92RIfRg.png">
                    </div>
                        
                    <div class="block-3">
                        <img class="block" src="https://i.imgur.com/92RIfRg.png">
                        <img class="block" src="https://i.imgur.com/92RIfRg.png">
                        <img class="block" src="https://i.imgur.com/92RIfRg.png">
                    </div>
                </div>

                <div class="hidden" id="reverse-bridge-area">
                    <div class="block-3">
                        <img class="block" src="https://i.imgur.com/92RIfRg.png">
                        <img class="block" src="https://i.imgur.com/92RIfRg.png">
                        <img class="block" src="https://i.imgur.com/92RIfRg.png">
                    </div>
                    <div class="block-2">
                        <img class="block" src="https://i.imgur.com/92RIfRg.png">
                        <img class="block" src="https://i.imgur.com/92RIfRg.png">
                    </div>
                    <div class="block-1">
                        <img class="block" src="https://i.imgur.com/92RIfRg.png">
                    </div>
                </div>

                <div class="hidden" id="keys-area">
                    <img class="key" id="key-1" src="https://i.imgur.com/wdgGz3q.png">
                    <img class="key" id="key-2" src="https://i.imgur.com/wdgGz3q.png">
                    <img class="key" id="key-3" src="https://i.imgur.com/wdgGz3q.png">
                </div>

                <div class="hidden" id="door-area">
                    <img id="door-image" src="https://i.imgur.com/WUTHYQp.png">
                </div>
                <div class="hidden" id="sword-area">
                    <img id="sword" src="https://cdn.discordapp.com/attachments/627937124666310707/651651428619911168/sword.png">
                </div>

                <div class="hidden" id="wizard-area">
                    <img id="wizard" src="https://cdn.discordapp.com/attachments/627937124666310707/651679760585457674/wizard-dude.png">
                </div>

                <div class="hidden" id="warden-area">
                    <img id="warden" src="https://cdn.discordapp.com/attachments/627937124666310707/651679777434107904/warden.png">
                </div>
                
                
            </div>
            <div id="input-area">
                <div id="numbered-lines">
                    
                </div>
                <div id="coding-area">
                    <p>package JavaWarrior;</p>
                    <br/>
                    <p>public class Player {{ '{' }}</p>
                    <p class="single-indent">public static void main (String[] args){{ '{' }}</p>
                        <br/>
                        <div id="coding-text">
                            
                        </div>
                    <br/>
                    <input id="console-input" type="text" class=" double-indent code-input" placeholder="// Enter your code here">
                        <div id="end-loop">

                        </div>
                    <p class="single-indent">{{ '}' }}</p>
                    <p>{{ '}' }}</p>
                    <div id="submit-area">
                        <button class="submit">Submit Code</button>
                    </div>

                </div>

            </div>
            
        </div>
    </body>